@font-face {
    font-family: 'Bitter';
    src: url(..//fonst/Bitter-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Bitter';
    src: url(..//fonst/Bitter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Bitter';
    src: url(..//fonst/Bitter-Medium.ttf);
    font-weight: 500;
}